Pick the types of things to see
{{#each moduleCheckboxes as |m|}}
<div>

    {{m.type}} <input type="checkbox"
                        checked={{m.selected}}
                        {{action "toggleSelection" m.type on="change"}} />
</div>
    {{/each}}


<div>
    {{simple-chart width=2400 height=800 data=filteredData}}
        {{!--{{helper-chart width=800 height=800 data=filteredData}}--}}
    {{!--{{#my-chart data=filteredData as |scales|}}
        {{#d3-chart width=800 height=800 scales=scales as |c|}}
            {{#c.selectAll data=filteredData}}
                {{c.circle className="shape" cx="inputs" cy="outputs" fill="moduleType" r="lineCount"}}
            {{/c.selectAll}}
        {{/d3-chart}}
    {{/my-chart}}--}}
    <svg width={{svgWidth}} height={{svgHeight}}>
        <g class="chart" transform="translate(60,10)">
            {{#each filteredData as |d|}}
                <circle 
                    class="sugar"
                    cx={{apply-d3-scale xScale d.name}}
                    cy={{apply-d3-scale yScale d.abv}}
                    r={{apply-d3-scale sugarScale d.sugar}}
                    fill={{apply-d3-scale colorScale d.type}}
                    fill-opacity=0.5
                    />
                <circle 
                    class="acid"
                    cx={{apply-d3-scale xScale d.name}}
                    cy={{apply-d3-scale yScale d.abv}}
                    r={{apply-d3-scale acidScale d.acid}}
                    fill="white"
                    fill-opacity=0
                    stroke="black"
                    />
                <text 
                    class="label"
                    transform="translate(
                        {{apply-d3-scale xScale d.name}},
                        {{apply-d3-scale yScale d.abv}})
                        rotate(-90)">
                    {{d.name}}
                </text>
            {{/each}}
            {{d3-axis class="unique-y-axis" axis=yAxis}}
        </g>

    </svg>
    
</div>
