Pick the types of things to see
<div>
{{#each moduleCheckboxes as |m|}}
  {{m.type}} <input type="checkbox"
                    checked={{m.selected}}
                    {{action "toggleSelection" m.type on="change"}} />
{{/each}}

</div>
<div>
    {{simple-chart width=800 height=800 data=filteredData}}
    <button {{action "refreshData"}}>Refresh</button>
</div>
