Pick the types of things to see
<div>
{{#each moduleCheckboxes as |m|}}
  {{m.type}} <input type="checkbox"
                    checked={{m.selected}}
                    {{action "toggleSelection" m.type on="change"}} />
{{/each}}

</div>
<div>
    {{simple-chart width=2400 height=800 data=filteredData}}
        {{!--{{helper-chart width=800 height=800 data=filteredData}}--}}
    {{!--{{#my-chart data=filteredData as |scales|}}
        {{#d3-chart width=800 height=800 scales=scales as |c|}}
            {{#c.selectAll data=filteredData}}
                {{c.circle className="shape" cx="inputs" cy="outputs" fill="moduleType" r="lineCount"}}
            {{/c.selectAll}}
        {{/d3-chart}}
    {{/my-chart}}--}}
    
</div>
